.infoText {
	margin-left: 22px;
	margin-top: 4px;
	margin-bottom: 5px;
	margin-right: 5px;
	/* font-size: small; */
}

.infoTitle {
	font-weight: bolder;
	font-size: large;
}

.languageFrame {
	width: 40px;
	height: 30px;
	margin: 5px;
	display: block;
	/* float: left; */
}

.fieldsetColumn {
	margin: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.fieldsetRow {
	margin: 10px;
}

.infoFlags {
	width: 100%;
	height: 100%;
	margin: 3px;
}

.infoContainer {
	display: inline-block;
	width: 450px;
}

.infoImage {
	height: 45px;
	width: 45px;
	margin: 5px;
}

.infoFrame {
	width: 55px !important;
	height: 55px !important;
	margin: 5px;
	display: inline-block;
}

.infoCheckbox {
	margin: 15px;
	display: block;
}
